html, body {
    font: 16px Arial, helvetica, sans-serif ;
    background-color: #646060; 
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#cabecalho{
    width: 100%;
    min-height: 90px;
    height:auto;
    float: left;
    margin-top: 0px;
    background-color: #000000; 
}


#titulo, #menu{
    height: 50px;
    float: left;
    color: rgb(57, 86, 247);
}

#titulo{
    width: 200px;
    margin-left: 5%;
    margin-top: 5px;
    text-align: center;
}

#menu{
    width: 700px;
    margin-left: 20%;
    margin-top: 15px;
}

a{
    color: rgb(57, 86, 247);
    text-decoration: none; 
    font-size: 20px;   
}

a:hover {
    font-size: 24px;
}

li{
    display: inline;
    margin: 10px;
}

img{
    width: 200px;
    height: 280px;
    margin-top: 10px;
    border-radius: 10px;
}

.divprincipal_jogos{
    width: 100%;
    height: auto;
    max-width: 1485px;
    float: left;
    margin-top: 25px;
    margin-left: 1%;
    background-color: rgb(57, 86, 247);
    border-radius: 10px;
    text-align: center;
}

.div1_jogos, .div2_jogos, .venda, .img_jogo{
    border-radius: 10px;
    float: left;
}

.div1_jogos{
    width: 150px;
    height: 300px;
    margin-left: 5%;
}

.div2_jogos{
    width: 100%;
    height: auto;
    max-width: 1000px;
    margin-left: 10%;    
}

.venda, .img_jogo{
    width: 200px;
}

.venda{
    height: 110px;
    margin-left: 20%;
    margin-top: 30px;
}

.img_jogo{
    height: 50px;
    margin-top: 0px;
}

.img_jogo:hover{
    width: 205px;
    height: 55px;
}

.veja-mais{
    text-align: left;
    color: black;
    font-size: 16px;   
}

.veja-mais:hover {
    font-size: 18px;
}

.voltar{
    width: 100px;
    height:auto;
    float: left;
    margin-top: 0%;
    font-size: 15px;

}

#destaque:hover {
    font-size: 16px;
}

#seta{
    width: 10px;
    height: auto;
    float: left;
    margin-top: 18px;
    margin-left: 40px;
}

#rodape{
    width: 100%;
    min-height: 50px;
    height:auto;
    float: left;
    margin-top: 25px;
    background-color: #000000; 
    color: rgb(57, 86, 247);
    text-align: center;
}