body{
    font: 16px Arial, helvetica, sans-serif ;
    background-color: #646060; 
}

div{
    position: absolute;
}

#cabecalho{
    width: 100%;
    height: 90px;
    left: 0px;
    top: 0px;
    background-color: #000000; 
}

#titulo, #menu{
    height: 50px;
    color: rgb(57, 86, 247);
}

#titulo{
    width: 400px;
    left: 10%;
    top: 8px;
}

#menu{
    width: 700px;
    left: 40%;
    top: 20px;
}

a{
    color: rgb(57, 86, 247);
    text-decoration: none; 
    font-size: 20px;   
}

a:hover {
    font-size: 24px;
}

li{
    display: inline;
    margin: 10px;
}

.voltar{
    width: 200px;
    height: 50px;
    font-size: 15px; 
}

#destaque:hover {
    font-size: 16px;
}

#seta{
    width: 10px;
    height: 10px;
}


#rodape{
    width: 100%;
    height: 50px;
    left: 0px;
    bottom: 0px;
    background-color: #000000; 
    color: rgb(57, 86, 247);
    text-align: center;
}